# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
common python libraries
* Pandas
* Pytorch 
* Numpy

Some of the popular languages that Data Scientists use are:
1. python
2. R
3. C++

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. PyTorch
3. TanserFlow

|Data Science Tools|
|-----------------|
|Jupyter Notebook|
|RStduio|
|Spyder|

### arithmetic expression examples

Below are a few examples of evaluating arithmetic expressions in Python:
* +:sum
* -:minus
* *:multiplication
* / :division
* % :modulo

In [11]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [12]:
# This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

## Author
Muhammet Emin YaylÄ±